@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

.header-menu{
    margin-top: 20px;
}
.header-title{
    display: inline-block;

    font-family: 'Londrina Solid', cursive;
    color: var(--headerFont);
    font-size: 35px;

    margin-bottom: 20px;
}
.header-title > a{
    color: var(--headerFont);
}
.menu-btn{
    margin-right: 5px;
}

.header-img{
    position: relative;
    height: 460px;
    background-size: cover;

    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 60%);
    border-radius: 30px;
}

.img-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:1;
    border-radius: 30px;
 }

 .header-img .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);                                                                   
    font-size:5rem;
    color: white;
    z-index: 2;
    text-align: center;

    font-family: 'Londrina Solid', cursive;
} 